body {
  margin: 0;
  padding: 0;
  background-color: #282851;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  height: 100vh;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 250px;
  text-align: center;
}

primary-button {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: #9ca3af;
  font-size: 0.9rem;
}
